.single-product-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.product-slider-container{
    width: 50%;
}

.product-slider-image{
    width: 80%;
    margin: 10px auto;
}

.product-data-container{
    width: 50%;
    text-align: center;
}

.single-product-title{
    font-size: calc(5px + 2vw);
    font-weight: bold;
}

.buy-button{
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    font-size: calc(5px + 2vw);
    font-weight: bold;
    height: 60px;
    background-color: black;
    color: white
}

.buy-button:hover{
    background-color: #251E05;
}

@media screen and (max-width: 800px) {
    .single-product-container{
        display: flex;
        flex-direction: column;
    }
    .product-slider-container{
        width: 100%;
    }
    .product-data-container{
        width: 100%;
    }
  }
