.div-filter-type{
    display: flex;
    flex-direction: row;
    font-size: calc(1.2vw + 8px);
    margin-bottom: 20px;
    justify-content: center;
}

label{
    font-size: calc(1vw + 8px);
}

input {
    width: 20px;
    height: 20px;
  }

.filter-text{
margin-top: 0px;
margin-right: 1em;
}

@media screen and (max-width: 1200px) {
    .filter-text{
        margin-top: calc(4px + 0.1em);
    }
  }

