.home-div-page-1{
  height: 100vh;
  background: white;
  border-bottom: 5px solid white;
}

.container-image-home{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.image-home{
  width: 900px;
  height: auto;
  overflow: hidden;
}

.home-div-page-2{
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  border-bottom: 5px solid white;
}

.home-div-page-3{
  height: 100vh;
  background: white;
}


.text-home-page-1{
  color: black;
  position: absolute;
  top: 1%; 
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: cursive;
}

  .home-page-2-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 700px 700px;
    grid-template-rows: 550px 550px;
    justify-content: center;
    margin: 100px;
  }

  @media screen and (max-width: 1900px) {
    .image-home{
      width: 800px;
    }
  }

  @media screen and (max-width: 1400px) {
    .home-page-2-container{
      grid-template-columns: 550px 550px;
      grid-template-rows: 550px 550px;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .home-page-2-container{
      grid-template-columns: 400px;
      grid-template-rows: 350px 350px;
    }
    .image-home{
      width: 9OOpx;
    }
  }