.home-div-page-1{
  height: 100vh;
  background: linear-gradient(to left,#F3EFF9, #DFD3F0);
}

.home-div-page-2{
  height: 100vh;
  background: linear-gradient(to left,#FBF8EC, #F5F0DB);
  display: flex;
  justify-content: center;
}

.home-div-page-3{
  height: 100vh;
  background: linear-gradient(to left,#EEF8F5, #DBF5EE);
}

.home-image-large{
  width: 100%;
  height: 100vh;
}

.home-image-middle{
  width: 100%;
  height: 100vh;
}

.home-image-small{
  width: 100%;
  height: 100vh;
}

.text-home-page-1{
  color: white;
  position: absolute;
  top: 1%; 
  width: 100%;
  text-align: center;
  font-size: 70px;
  font-family: cursive;
}

@media screen and (max-width: 1000px) {
    .home-image-large{
      display: none;
    }
  }

  @media screen and (min-width: 1000px){
    .home-image-middle{
      display: none;
    }
  }

  @media screen and (max-width: 800px) {
    .home-image-middle{
      display: none;
    }
  }

  @media screen and (min-width: 800px) {
    .home-image-small{
      display: none;
    }
  }

  .home-page-2-container{
    display: grid;
    justify-items: center;
    grid-template-columns: 700px 700px;
    grid-template-rows: 550px 550px;
    justify-content: center;
    margin: 100px;
  }

  @media screen and (max-width: 1400px) {
    .home-page-2-container{
      grid-template-columns: 550px 550px;
      grid-template-rows: 550px 550px;
    }
  }
  
  @media screen and (max-width: 800px) {
    .home-page-2-container{
      grid-template-columns: 400px;
      grid-template-rows: 350px 350px;
    }
  }