.logo{
    cursor: pointer;
    width: 15rem;
    position: absolute;
    top: 1.5%;
    left: 2%;
    z-index: 2
}

@media screen and (max-width: 600px) {
    .logo{
        left: auto;
        right: 2%
    }
  }